/* =========================== */
/* ======== RESET ============ */
/* =========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
}


/* =========================== */
/* ======== HEADER =========== */
/* =========================== */

/* =========================== */
/* ======== HEADER =========== */
/* =========================== */
/* =========================== */
/* ======== HEADER =========== */
/* =========================== */

/* ====== HEADER ثابت ====== */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(247, 191, 37, 0.993);            /* لون الشريط */
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;                /* فوق كل العناصر */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* ظل خفيف */
}
header.shrink {
    padding: 5px 30px;
    background: rgba(235, 174, 7, 0.952);
    transition: 0.3s ease;
}


/* اللوجو */
.logo {
    font-size: 20px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    text-decoration: none;
}
.logo:hover{
    color:#0011ff;
}

/* روابط القائمة */
.navbar a {
    text-decoration: none;
    margin-left: 25px;
    font-size: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #fafafa;
    font-weight: 600;
    transition: 0.3s;
}

.navbar a:hover {
    color: #0011ff;  /* لون عند الهوفر */
}

/* أيقونة السلة */
.cart {
    font-size: 24px;
    margin-left: 20px;
    cursor: pointer;
}


/* =========================== */
/* ======== HERO ============= */
/* =========================== */

.hero {
    height: 100vh;
    background-image: url("images/logo.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 120px;
}

.hero-content {
    opacity: 0;
    transform: translateY(30px);
    animation: textFade 1.4s ease-out forwards;
}

@keyframes textFade {
    0% { opacity: 0; transform: translateY(30px); }
    100% { opacity: 1; transform: translateY(0); }
}

.hero-content h2 {
    font-size: 60px;
    color: white;
    margin-bottom: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.hero-content p {
    font-size: 22px;
    color: white;
    margin-bottom: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn {
    background-color: white;
    padding: 12px 25px;
    color: orange;
    text-decoration: none;
    border-radius: 6px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    border: 2px solid orange;
    transition: 0.3s;
}

.btn:hover {
    background-color: orange;
    color: white;
}
/* ===== ABOUT - IMAGE WITH TEXT OVERLAY ===== */

.about-overlay-section {
  position: relative;
  height: 60vh;
  min-height: 350px;
  background-image: url("images/about\ us.jpg"); /* Change image if needed */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.about-overlay-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
}

.about-content {
  position: relative;
  max-width: 700px;
  text-align: center;
  color: white;
  z-index: 2;
  opacity: 0;
  transform: translateY(30px);
  animation: aboutFade 1.4s ease-out forwards;
  animation-delay: 0.3s; 
}
@keyframes aboutFade {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-content h2 {
  font-size: 36px;
  margin-bottom: 50px;
  margin-top: 40px;
  font-weight: bold;
  font-family:Georgia, 'Times New Roman', Times, serif;}

.about-content p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 12px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.about-overlay-section{
    margin-top: 120px;
}

/* =========================== */
/* ===== BEST SELLERS ======== */
/* =========================== */

.section-title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
    transition: 0.3s;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.section-title:hover {
    color: #ff6600;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 0 100px;
}

.product-card {
    background: white;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.product-card h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.product-card p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    border: 2px solid orange;
    background: #fff7e6;
}

.product-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product-card h3 {
    font-size: 20px;
    margin-bottom: 8px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #ff8800;
    margin-bottom: 10px;
}

.stars {
    font-size: 18px;
    margin-bottom: 15px;
}

.add-btn {
    background: #ff8800;
    border: none;
    padding: 10px 18px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.add-btn:hover {
    background: #e67300;
}

/* =========================== */
/* ===== CATEGORY TABS ======= */
/* =========================== */

.category-tabs {
    width: 100%;
    background: rgb(245, 200, 76);
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 15px 0;
    box-shadow: 0 2px 8px rgba(243, 245, 245, 0.1);
    position: sticky;
    top: 80px;
    z-index: 900;
    position:static;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.category-tabs a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f5f2f2;
    padding: 10px 16px;
    border-radius: 8px;
    transition: 0.3s;
    
}

.category-tabs a:hover {
    background: orange;
    color: white;
}

/* =========================== */
/* ===== CATEGORY BLOCKS ===== */
/* =========================== */

.category {
    padding: 50px 100px;
    
}
/* مسافات بين الأقسام */
section {
    padding-top: 80px;
    padding-bottom: 80px;
}

/* لو بدك مسافة أكبر بين أقسام محددة */
.best-sellers,
.category-tabs,
.category {
    margin-top: 80px;
}
/* -------------------- REVIEWS SECTION -------------------- */

.reviews-section {
    padding: 80px 0;
    background: #f8f8f8;
    text-align: center;
}

.review-title {
    font-size: 36px;
    margin-bottom: 40px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
}

.reviews-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.review-card {
    background: #fff;
    width: 330px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: .3s;
    
}

.review-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

.client-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.review-text {
    font-size: 16px;
    color: #f0a607;
    line-height: 1.6;
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.client-name {
    font-size: 16px;
    color: #222;
    font-weight: bold;
   font-style: italic;
   font-family:Georgia, 'Times New Roman', Times, serif;
}
/* ================= CONTACT SECTION ================= */

/* ============== SIMPLE CONTACT SECTION ============== */

/* ============ CONTACT SECTION ============ */
/* ===== Contact Section ===== */

/* ========== CONTACT SECTION ========== */
/* ===== Contact Section ===== */
.contact-section {
    padding: 40px 0;
    background: #fff3d9;
    text-align: center;
}

.contact-title {
    font-size: 36px;
    font-weight: bold;
    color: #ff8c00;
    margin-bottom: 30px;
    font-family: Georgia, serif;
}

/* Layout */
.contact-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

/* Form Box */
.contact-form {
    width: 380px;
    background: white;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.15);
    text-align: left;
}

.contact-form label {
    font-weight: bold;
    color: #444;
    font-family: Georgia, serif;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #ffc46a;
    border-radius: 8px;
    margin-bottom: 12px;
    font-family: Georgia, serif;
}

.contact-btn {
    background: orange;
    color: white;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}
.contact-btn:hover {
    background: #d67a00;
}

/* Right Box */
.contact-info-box {
    width: 350px;
    background: white;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.15);
    text-align: left;
}

.info-title {
    color: #ff8c00;
    font-weight: bold;
    margin: 15px 0 8px;
    font-family: Georgia, serif;
}

/* Payment Images */
.payments img {
    width: 55px;
    margin-right: 8px;
}

/* Social Icons */
.contact-info-box i {
    font-size: 22px;
    margin-right: 8px;
    color: #ff8c00;
}

.fb-icon i {
    font-size: 26px;
    color: #1877f2;
    margin-top: 5px;
}
.footer {
    width: 100%;
    background-color: #f0b429;
    padding: 18px 0;
    margin-top: 60px;
    text-align: center;
    color: #fff;
    font-weight: 600;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-icons i {
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}
#toTop {
    position: fixed;
    bottom: 25px;
    right: 25px;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 50%;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;
    display: none;
}

.product-card {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.7s ease;
}

.product-card.show {
  opacity: 1;
  transform: translateY(0);
}
.review-card {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s ease;
}

.review-card.show {
  opacity: 1;
  transform: translateY(0);
}
.review-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}
.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #28a745;
  color: #fff;
  padding: 12px 18px;
  border-radius: 8px;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
  font-size: 16px;
  z-index: 9999;
}

.toast.show {
  opacity: 1;
  transform: translateY(-10px);
}
